<% include ../partial/header %>

<div class='container row show-grid'>
    
    <div id='sidebar'>
        <form>
          <h2>Search</h2>
          <label>Find errors by URL: </label>
          <input type='text' id='url_input'>
          <label>or by text: </label>
          <input type='text' id='text_input'>
          <label>or by UOW: </label>
          <input type='text' id='uow_input'>
          <br/>
          <a class='btn do_search'>Search</a>
        </form>
    </div>
    <div id='graph-container'>
      <div id='graph'>
      </div>
    </div>


    <div id='main'>
        <div class='header'>
            <h2>Results</h2>
            <div class='refine'>
                <span>Order by</span>
                <select name='orderby' id='orderby'>
                   <option value="until DESC">Latest ocurrence</option>
                   <option value="quantity DESC">Most frecuent</option>
                   <option value="since ASC">First ocurrence</option>
                </select>
                <span>Cluster by:</span>
                <input type='checkbox' checked='checked' class='message'><label>Message</label>
                <input type='checkbox' class='file'><label>File</label>
                <input type='checkbox' class='line'><label>Line</label>
                <input type='checkbox' class='name'><label>Name</label>
                <input type='checkbox' class='name'><label>Browser</label>
                <input type='checkbox' class='name'><label>OS</label>
                <a class='btn reload button'>Reload</a>
            </div>
        </div>
        <div id='results'></div>
    </div>

</div>


<div id='popup'>
  <div class='close'>X</div>
  <div class="sidebar">  
      <h4>Cluster errors</h4>
      <div class="errors"></div>
  </div>
  <div class="frame">  </div>
</div>