<div class="navbar navbar-inverse">
     <a class="brand" href="#">FrontMonitor</a>
     <ul class='nav'>
             <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Application <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#" data-id="1">FrontEnd-Search</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </li>
     </ul>
</div>